<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Web-head, Menu-bar & Profile-pic -->
  <div class="fixed">
    <div class="web-head">
      <h1><a href="/">Htin Linn Aung</a></h1>
      <ul>
        <!-- <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>

  <!-- Mid-section -->
  <div class="content">
    <p id="cmb">Will update the portfolio...Please come back later.</p>
  </div>
  <!-- Contact Box -->
  <div class="contact">
    <!-- change the html a href to route bcoz we start to use Heroku Server -->
    <p><a href='contactInfo'>Contact</a></p>
  </div>
</body>
</html>
