<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Web-head, Menu-bar & Profile-pic -->
  <div class="fixed">
    <div class="web-head">
      <h1><a href="/">Htin Linn Aung</a></h1>
      <ul>
        <!-- <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>

  <!-- Mid-section -->
  <div class="content">
    <p id="cmb">Will update the portfolio...Please come back later.</p>
  </div>

    <!-- Contact Box -->
    <!-- <div class="contact"> -->
      <!-- change the html a href to route bcoz we start to use Heroku Server -->
      <!-- <p><a href='contactInfo'>Contact</a></p> -->
      <!-- <div id="ani_click"> -->
        <!-- <div class="box3"> -->
        <!-- </div> -->
      <!-- </div>
    </div> -->

    <!-- Linked to My Github Page -->
    <a href="https://github.com/htinlinnag1993">
      <div class="test" id="d1"><p id="c">GitHub</p></div>
    </a>
    <!-- Linked to My LinkedIn Page -->
    <a href="https://www.linkedin.com/in/htinlinnaung">
      <div class="test" id="d2"><p id="c">LinkedIn</p></div>
    </a>
      <!-- Linked to My Contact Page -->
    <a href="/contactInfo">
      <div class="test" id="d3"><p id="c">Contact</p></div>
    </a>
    <!-- Linked to My Blog Page -->
    <a href="/blog">
      <div class="test" id="d4"><p id="c">Blog</p></div>
    </a>
    <!-- To cover up all boxes -->
    <div class="test" id="d5"><p>Contact</p></div>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="script_for_animation.js" charset="utf-8"></script>
</body>
</html>
