<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Info</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

  <!-- Web-head, Menu-bar & Profile-pic -->
  <div class="fixed">
    <div class="web-head">
      <h1><a href="home.html">Htin Linn Aung</a></h1>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </div>
  </div>

  <!-- Mid-section -->
  <div id="info">
    <div class="gmail">
      <p>htinlinnag1993@gmail.com</p>
    </div>
    <div class="number">
      <p>+1-626-586-6065</p>
    </div>
    <div class="linkedin">
      <p>https://www.linkedin.com/in/htinlinnaung</p>
    </div>
    <div class="github">
      <p>https://github.com/htinlinnag1993</p>
    </div>
  </div>

  <!-- Contact Box -->
  <div class="contact">
    <p><a href="ContactInfo.html">Contact</a></p>
  </div>
</body>
</html>
