<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Htin Linn Aung</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- Web-head, Menu-bar & Profile-pic -->
  <div class="fixed">
    <div class="web-head">
      <h1><a href="/">Htin Linn Aung</a></h1>
      <ul>
        <!-- <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
    <div class="pic">
      <img src="./pics/ProfilePic.jpg" class="ppic">
    </div>
  </div>

  <!-- Mid-section -->
  <div class="content">
    <div id="w1">
      <p>WELCOME</p>
    </div>
    <div id="w2">
      <p>TO</p>
    </div>
    <div id="w3">
      <p>MY</p>
    </div>
    <div id="w4">
      <p>WEBSITE</p>
    </div>
  </div>
  <!-- Contact Box -->
  <div class="contact">
    <!-- change the html a href to route bcoz we start to use Heroku Server -->
    <!-- <p><a href='contactInfo'>Contact</a></p> -->
    <p id="ani_click">Contact</p>
    <div class="box3">
      <a href="winPage.html">
        <div class="test" id="d1"></div>
      </a>
      <div class="test" id="d2"></div>
      <div class="test" id="d3"></div>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="script_for_animation.js" charset="utf-8"></script>
</body>
</html>


<!--
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="heading">
      <h1>Welcome!</h1>
      <h2>My name is <span class="darkblue">Htin Linn Aung</span>. This is my profile page.</h2>
      <img src="ProfilePic.jpg">
    </div>
    <h3>Interested Career Industries</h3>
    <div class="intCarInd">
      <ul>
        <li>Software Engineering</li>
        <li>Artificial Intelligence</li>
        <li>Data Science</li>
      </ul>
    </div>
    <h3>Education</h3>
    <div class="education">
      <ul>
        <li>A.S. in Electrical Engineering, LaGuardia Community College</li>
        <li>B.S. in Computer Science, Queens College (Currently Pursuing)</li>
      </ul>
    </div>
    <h3>Skills</h3>
    <div class="skills">
      <header>Programming Languages</header>
      <ul>
        <li>C++</li>
        <li>Java</li>
      </ul>
      <header>Others</header>
      <ul>
        <li>OOP</li>
        <li>HTML and CSS</li>
      </ul>
    </div>
    <h3>Contact Me</h3>
    <div class="contact">
      <ul>
        <li>htinlinnag1993@gmail.com</li>
        <li>626-586-6065</li>
        <li><a href="https://www.linkedin.com/in/htinlinnaung">My LinkedIn Profile</a></li>
        <li><a href="https://github.com/htinlinnag1993/My-OOP-in-Cplusplus-and-Java-Coursework">My GitHub</a></li>
      </ul>
    </div>
  </body>
</html>
-->
