<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>
  <h1>Hi! Welcome to Bulletin Board App!</h1>
  <!-- Routing through action="/write", not "messages" to post it on the mboard page -->
  <form class="" action="/blog/content" method="post">
    <input type="text" name="title" placeholder="Title">
    <br>
      <textarea name="body" rows="8" cols="80" placeholder="Body"></textarea>
    </br>
    <input type="radio" id="track" name="track" value="track"> Spotify Music(Demo)<br>
    <!-- <input type="radio" name="video" value="video"> Youtube Video<br>
    <input type="radio" name="map" value="map"> Google Map<br> -->
    <div class="rbChoice">
    </div>
    <!-- <input type="date" name="date" placeholder="Date"> -->
    <input type="submit" value="Post it!">
  </form>
  <!-- Contact Box -->
  <div class="contact">
    <!-- change the html a href to route bcoz we start to use Heroku Server -->
    <p><a href='contactInfo'>Contact</a></p>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="script_for_blog.js" charset="utf-8"></script>
</body>
</html>
